*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  background-color: #86D0FF;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}


/****************************** Top Bar ******************************/

.topbar {
  position: relative;
  padding: 1% 8% 0 8%;
  background-color: #004080;
  font-weight: bold;
  margin-bottom: 1em;
  border-bottom: 1em #132A6C solid;
}

.main-nav-item, .right-nav-item {
  display: inline-block;
  margin-right: 2em;
}

.main-nav {
  display: inline-block;
  margin-bottom: .3em;
  vertical-align: bottom;
}

.right-nav {
  position: absolute;
  right: 6%;
  bottom: 3em;
  display: inline-block;
}

.logo {
  font-size: 3em;
  margin-right: 2em;
  display: inline-block;
  font-weight: normal;
  margin-bottom: .3em;
}

/****************************** Person Component (Match, Connection, ConnectionRequest) ******************************/


.person {
  margin: 1em 8%;
  position: relative;
  background-color: #F5F5F5;
  padding: 1em;
  border-radius: 10px;
  border: 1.5px grey solid;
}

.person-name {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: .3em;
  width: 100%;
  padding-left: 2px;
}

.person-description {
  margin-left: .5em;
  font-style: italic;
}

.profile-picture-container {
  display: inline-block;
  height: 6em;
  width: 6em;
  overflow: scroll;
  border-radius: 50%;
}

.profile-picture {
  object-fit: cover;
  min-width: 6em;
  min-height: 6em;
}

.text-container {
  vertical-align: top;
  position: absolute;
  left: 9em;
  right: 0;
  display: inline-block;
}

.button-container {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.action {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 0.5em;
  background-color: #771333;
  border-radius: 3px;
  margin: 0.5em 1em 0 0;
}

.languages {
  display: inline-block;
}

/****************************** Language Component ******************************/

.language {
  display: inline-block;
  background-color: #86CDFF;
  border: .1em #004080 solid;
  border-radius: .2em;
}

/****************************** Profile Tab ******************************/


.profile {
  margin: 2.5em 5em;

}

.profile-header {
  display: inline-block;
  vertical-align: top;
  margin-right: 4em;
}

.profile-detail {
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
}

.profile-name {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: bold;
}

.profile-title {
  margin-bottom: .2em;
  font-weight: bold;
  font-size: 1.2em;
}

.profile-section {
  margin: 1.5em 0;
}

.own-profile-picture {
  object-fit: cover;
  min-width: 8em;
  min-height: 8em;
}

.own-profile-picture-container {
  height: 8em;
  width: 8em;
  overflow: scroll;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.profile-language {
  margin-bottom: .3em;
}
.language-selection {
  width: 50%;
  padding: .5em;
  border: 2px #cccccc solid;
  border-radius: .5em;
}

.level-selection {
  width: 35%;
  padding: .5em;
  border: .1em #cccccc solid;
  border-radius: .5em;
}

.language-label {
  display: inline-block;
  width: 50%;
  font-weight: bold;
}

.level-label {
  display: inline-block;
  width: 35%;
  font-weight: bold;
}

.x {
  background-color: #86CDFF;
  padding: 0 .4em;
  border: .1em #004080 solid;
  border-radius: .2em;
  vertical-align: bottom;
}

.update {
  font-size: 1em;
  padding: 5px;
  color: white;
  background-color: #004080;
  border: .1em black solid;
  border-radius: 5px;
}
.need-update {
  background-color: #FF0000;
}

.description {
  max-width: 300px;
  text-overflow: wrap;
  border: .1em #cccccc solid;
  background-color: #F5F5F5;
}

@media handheld, only screen and (max-width: 767px) {

  /****************************** Top Bar ******************************/

  .right-nav {
    display: block;
    position: static;
  }
  /****************************** Person Component (Match, Connection, ConnectionRequest) ******************************/
  .button-container {
    position: absolute;
    left: 0;
    bottom: -3em;
  }

  .person {
    margin-bottom: 5em;
  }

  .text-container {
    display: block;
    position: static;
  }
}