body {
  font-size: 18px;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


/****************************** Top Bar ******************************/
.top-bar-item {
  display: inline-block;
  padding-right: 2em;
}

.profile-link {
  position: absolute;
  right: 0;
  top: 1em;
}

.top-bar {
  padding: 2em 0 1em 0;
}

.top-bar-container {

}

#logo {
  font-size: 2em;
}

/****************************** Person Component (Match, Connection, ConnectionRequest) ******************************/


.person {
  margin: 2em 2em 2em 0;
  position: relative;
}

.action {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 0.5em;
  background-color: #771333;
  border-radius: 3px;
  margin: 0.5em 1em 0 0;
}

.languages {
  display: inline-block;
}

.profile-picture-container {
  display: inline-block;
  height: 6em;
  width: 6em;
  overflow: scroll;
  border-radius: 50%;
}

.profile-picture {
  object-fit: cover;
  min-width: 6em;
  min-height: 6em;
}

.text-container {
  vertical-align: top;
  padding-top: 1.2em;
  display: inline-block;
  margin: 0 1em;
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

/****************************** Language Component ******************************/

.language {
  display: inline-block;
  margin-right: 1em;
}

/****************************** Profile Tab ******************************/


.profile {
  margin-top: 2em;
}

.profile-header {
  display: inline-block;
  vertical-align: top;
  margin-right: 3em;
}

.profile-detail {
  display: inline-block;
  vertical-align: top;
}

.profile-name {
  font-size: 1.5em;
  margin-top: 1em;
}

.profile-title {
  margin-bottom: .2em;
}

.profile-section {
  margin: 1em 0;
}

.own-profile-picture {
  object-fit: cover;
  min-width: 8em;
  min-height: 8em;
}

.own-profile-picture-container {
  height: 8em;
  width: 8em;
  overflow: scroll;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


@media handheld, only screen and (max-width: 767px) {
  /****************************** Person Component (Match, Connection, ConnectionRequest) ******************************/
  .button-container {
    position: absolute;
    left: 0;
    bottom: -3em;
  }

  .person {
    margin-bottom: 5em;
  }
}