body {
  font-size: 18px;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.top-bar-item {
  display: inline-block;
  padding-right: 2em;
}

.profile-link {
  position: absolute;
  right: 0;
  top: 1em;
}

#top-bar {
  padding: 2em 0 1em 0;
}

#logo {
  font-size: 2em;
}

.person {
  margin: 2em 2em 2em 0;
}

.profile {
  margin-top: 2em;
}

.action {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 0.5em;
  background-color: #771333;
  border-radius: 3px;
  margin: 0.5em 1em 0 0;
}