body {
  background-color: #004080;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-top: 80px;
}

a {
  font-size: 18px;
  color: white;
  text-decoration-style: none;
}